@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body{
    text-align: center;
}

#carousel{
    width: 600px;
    color: rgb(197, 206, 206);
    text-align: center;
    margin-left: 385px;
    margin-top: 100px;
}
#img{
    width: 600px;
    height: 300px;
}
#imgB{
  width: 300px;
    height: 150px;
}
#cursosAndamento{
    text-align: center;
    margin-bottom: 50px;
}
#cursosDisp{
  margin-left: 10px;
  margin-right: 5px;
}

.Title{
    font-family: nunito;
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    
}
.imagem5{
  transition: all .5s;
  border: 10px solid transparent;
}
.imagem5:hover{
  border: 10px solid #136497;
  
}

 /* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family: nunito;
  }
  
  /* The navigation menu links */
  .sidenav button {
    padding: 6px 8px 6px 16px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav button:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 
